@{
    ViewBag.Title = "Home Page";
}



<div class="row py-5 px-5">

    <div class="card-deck">
        
            <!--Card-->
            <div class="card bg-NCDSB-GreyLight">

                    <!--Card image-->
                    <img class="img-fluid" src="~/Images/bookconference.jpeg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Start A Conference Application</h4>
                    <!--Text-->
                    <p class="card-text">Select a conference and begin a new conference application. You may save the application as a draft and complete the application later. </p>
                    
                </div>

                <div class="card-footer text-center">
                    <a href="~/Conferences/Index" class="btn btn-primary">Start An Application</a>
                </div>

            </div>
            <!--/.Card-->
       
            <!--Card-->
            <div class="card bg-NCDSB-GreyLight">

                <!--Card image-->
                <img class="img-fluid" src="~/Images/trackmileage.jpeg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Track Your Mileage</h4>
                    <!--Text-->
                    <p class="card-text">Begin a mileage form and track your mileage</p>
                    
                </div>
                <div class="card-footer text-center">
                    <a href="~/Mileages/Create" class="btn btn-primary">Submit A Mileage Form</a>
                </div>

            </div>
            <!--/.Card-->
       
            <!--Card-->
            <div class="card bg-NCDSB-GreyLight">

                <!--Card image-->
                <img class="img-fluid" src="~/Images/myconferences.jpeg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">My Applications</h4>
                    <!--Text-->
                    <p class="card-text">View your conference applications. You may even view draft applications to complete.</p>
                   
                </div>
                <div class="card-footer text-center">
                    <a href="~/Applications/Index" class="btn btn-primary">View Applications</a>
                </div>

            </div>
            <!--/.Card-->
        
    </div>

</div>